<template>
  <section class="ethereumReadWrite">
    <blockquote>We are going to interact with a smart contract. First we will read it, then we will send a transaction and change its value.<br/>
      <a target="_blank" href="/smartcontracts/ethereum_read_write">You can study the corresponding smart contract here</a>.</blockquote>
    <h1>Read a smart contract</h1>
    <button v-if="!contractInstance" v-on:click="getInstance()">Pull the smart contract deployed instance</button>
    <template v-if="contractInstance">
      <p>Pulling the smart contract deployed instance</p>
      <p>...</p>
      <p>Pulled instance: <br/>
        <ul>
          <li>Contract address: <strong><a target="_blank" v-bind:href="contractUrl">{{contractAddress}}</a></strong></li>
        </ul>
      </p>
      <button v-if="!contractHash" v-on:click="readInstance()">Read contract values</button>
      <p v-if="contractCreatedBy">
        Values:
        <ul>
          <li v-if="contractCreatedBy">Smart contract deployer account: <strong><a target="_blank" v-bind:href="contractCreatorUrl">{{contractCreatedBy}}</a></strong></li>
          <li v-if="contractUpdatedBy">Last updater account: <strong><a target="_blank" v-bind:href="contractUpdaterUrl">{{contractUpdatedBy}}</a></strong></li>
          <li v-if="contractPreviousHash">Previous value: <strong>{{contractPreviousHash}}</strong></li>
          <li v-if="contractHash">Current value: <strong>{{contractHash}}</strong></li>
        </ul>
        <span v-if="!(contractHash && contractUpdatedBy && contractCreatedBy)">Reading ...</span>
        <button v-if="(contractHash && !subscribed)" v-on:click="subscribeToValueChange()">Subscribe to value change event</button>
        <h4 v-if="(contractHash && subscribed)">You've subscribed to any value change in this contract: you'll be notified whenever the value change</h4>
      </p>
      <template v-if="(contractHash && subscribed)">
        <hr/>
        <h1>Send a transaction to a smart contract</h1>
        <label>
          New value to be registered into the smart contract
          <input v-bind:disabled="!!waitingForConfirmation" style="width: 450px" type="text" v-model="newValue"></input>
        </label>
        <button v-if="newValue && !waitingForConfirmation" v-on:click="saveNewValue()">Send the new value to the smart contract</button>
        <p>
          <ul v-if="newValueTransactionHash && !newValue">
              <li>Transaction hash: <a target="_blank" v-bind:href="newValueTransactionUrl">{{newValueTransactionHash}}</a></li>
              <li v-if="waitingForConfirmation">Waiting for the transaction confirmation ...</li>
          </ul>
        </p>
      </template>
    </template>
  </section>
</template>

<script>
import { ETHERSCAN_URL } from '~/services/ethereum';

export default {
  components: {},
  data() {
    return {
      contractInstance: null,
      contractAddress: null,
      contractNetwork: null,
      contractUrl: null,
      contractHash: null,
      contractPreviousHash: null,
      contractCreatedBy: null,
      contractUpdatedBy: null,
      contractCreatorUrl: null,
      contractUpdaterUrl: null,
      newValue: null,
      newValueTransactionHash: null,
      newValueTransactionUrl: null,
      waitingForConfirmation: false,
      subscribed: false,
    }
  },
  methods: {
    async getInstance() {
      await this.$store.dispatch('ethereum_read_write/getContractInstance');
      this.contractNetwork = this.$store.state.ethereum_read_write.contract.network;
      this.contractInstance = this.$store.state.ethereum_read_write.contract.instance;
      this.contractAddress = await this.contractInstance().address;
      this.contractUrl = ETHERSCAN_URL(this.contractNetwork, '/address/'+this.contractAddress);
    },
    subscribeToValueChange() {
      Notification.requestPermission();
      this.contractInstance().events.savedHash().on('data', (event) => {
        console.log('Ethereum Read/Write, "savedHash" event fired', event);
        new Notification('Ethereum Read/Write: Nouvelle valeur !');
        this.readInstance();
      });
      this.subscribed = true;
    },
    async readInstance() {
        this.contractUpdatedBy = await this.contractInstance().methods.updated_by().call();
        this.contractUpdaterUrl = ETHERSCAN_URL(this.contractNetwork, '/address/'+this.contractUpdatedBy);
        this.contractCreatedBy = await this.contractInstance().methods.created_by().call();
        this.contractCreatorUrl = ETHERSCAN_URL(this.contractNetwork, '/address/'+this.contractCreatedBy);
        this.contractPreviousHash = await this.contractInstance().methods.previousHash().call();
        this.contractHash = await this.contractInstance().methods.currentHash().call();
    },
    async saveNewValue() {
      this.newValueTransactionHash = null;
      this.waitingForConfirmation = true;
      this.contractInstance().methods.updateHash(this.newValue).send({
        from: this.$store.state.web3.coinbase
      }).on('transactionHash', (hash) => {
        this.newValueTransactionHash = hash;
        this.newValueTransactionUrl = ETHERSCAN_URL(this.contractNetwork, '/tx/'+hash);
      }).on('confirmation', (confirmationNumber) => {
        if (confirmationNumber > 1) {
          return true;
        }
        this.newValue = null;
        this.waitingForConfirmation = false;
      });
      this.newValue = null;
    }
  }
}
</script>
<style></style>
