<template>
  <section class="sharedTable">
    <blockquote>Combining Ethereum and IPFS we are going to share a list of emails:<br/> A smart contract on Ethereum will be used to save the hash of the IPFS representing the current version of the list.<br/> <a target="_blank" href="/smartcontracts/shared_table">The corresponding smart contract can be studied here</a>.</blockquote>
    <h1>Shared Table</h1>
    <hr/>
    <h3>Smart Contract info</h3>
    <ul>
      <li>Contract address: <strong><a target="_blank" v-bind:href="$store.state.shared_table.contract.url">{{$store.state.shared_table.contract.address}}</a></strong></li>
      <li v-if="$store.state.shared_table.creator.address">Smart contract deployer account: <strong><a target="_blank" v-bind:href="$store.state.shared_table.creator.url">{{$store.state.shared_table.creator.address}}</a></strong></li>
      <li v-if="$store.state.shared_table.updator.address">Last updater account: <strong><a target="_blank" v-bind:href="$store.state.shared_table.updator.url">{{$store.state.shared_table.updator.address}}</a></strong></li>
      <li v-if="$store.state.shared_table.hash">Current Hash: <strong><a target="_blank" v-bind:href="'https://ipfs.io/ipfs/'+$store.state.shared_table.hash">{{$store.state.shared_table.hash}}</a></strong></li>
    </ul>
    <hr/>
    <template v-if="newValueTransactionHash">
     <ul>
      <li>Your last transaction hash: <a target="_blank" v-bind:href="newValueTransactionUrl">{{newValueTransactionHash}}</a></li>
      <li v-if="waitingForConfirmation">Waiting for the transaction confirmation ...</li>
    </ul>
    <hr/>
  </template>
  <div class="wrapper" v-if="$store.state.shared_table.creator.address">
    <section class="local">
      <h2>Local list</h2>
      <div v-for="(user, index) in localUsers">
        <input class="inline" type="email" v-model="localUsers[index]" v-on:change="saveLocalUsers()">
        <button v-if="!committing" class="commit" v-on:click="removeLocalUser(index)">- Remove</button>
      </div>
      <button v-if="!committing"class="commit"  v-on:click="addLocalUser()">+ Add</button>
    </section>
    <div>
      <button v-if="!committing" class="commit" v-on:click="commitUsers()">Commit -&gt;</button>
      <button v-if="committing" class="commit">Committing&nbsp;...</button>
      &nbsp;
      <button v-if="!committing" class="commit" v-on:click="pullUsers()">&lt;- Pull</button>
    </div>
    <section class="remote">
      <h2>Remote list</h2>
      <div v-if="!hashRead">Reading IPFS {{hash}}...<br/> (shouldn't take long...)</div>
      <div v-if="hashRead" v-for="(user, index) in $store.state.shared_table.data.remote">
        <input disabled type="email" v-model="$store.state.shared_table.data.remote[index]">
      </div>
    </section>
  </div>
</section>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { ETHERSCAN_URL } from '~/services/ethereum';
  import { IPFS_MANAGER } from '~/services/ipfs';

  export default {
    components: {},
  data() {
    return {
      localUsers: [],
      contractInstance: null,
      newValue: null,
      newValueTransactionHash: null,
      newValueTransactionUrl: null,
      waitingForConfirmation: false,
      committing: false,
    }
  },
    computed: {
    // mix the getters into computed with object spread operator
    ...mapGetters({
      hashRead: 'shared_table/getRead',
      hash: 'shared_table/getHash',
    }),
  },
  async beforeCreate() {
    await this.$store.dispatch('shared_table/getContractInstance');
    this.contractInstance = this.$store.state.shared_table.contract.instance;
    if (!this.$store.state.shared_table.data.local) {
      await this.$store.dispatch('shared_table/readContract')
      this.pullUsers();
    } else {
      this.$store.dispatch('shared_table/readContract')
      this.localUsers = this.$store.state.shared_table.data.local.slice(0);
    }
  },
  methods: {
    saveLocalUsers() {
      console.log('saveLocalUsers');
      this.$store.dispatch('shared_table/setLocalData', this.localUsers.slice(0));
    },
    addLocalUser() {
      this.localUsers.push('');
      this.$store.dispatch('shared_table/setLocalData', this.localUsers.slice(0));
    },
    removeLocalUser(index) {
      this.localUsers.splice(index, 1)
      this.$store.dispatch('shared_table/setLocalData', this.localUsers.slice(0));
    },
    async pullUsers() {
      this.$store.dispatch('shared_table/pull');
      if (this.$store.state.shared_table.data.local) {
        this.localUsers = this.$store.state.shared_table.data.local.slice(0);
      }
    },
    async commitUsers() {
      this.committing = true;
      let commit = {};
      this.$store.dispatch('shared_table/setLocalData', this.localUsers.slice(0));
      commit.data = this.$store.state.shared_table.data.local;
      commit.previousVersion = this.$store.state.shared_table.hash;
      let jsonedCommit = JSON.stringify(commit);
      let newIpfsHash = await IPFS_MANAGER.add(jsonedCommit);

      this.newValueTransactionHash = null;
      this.contractInstance().methods.updateHash(this.$store.state.shared_table.hash, newIpfsHash.hash).send({
        from: this.$store.state.web3.coinbase
      }).on('transactionHash', (hash) => {
        this.waitingForConfirmation = true;
        this.newValueTransactionHash = hash;
        this.newValueTransactionUrl = ETHERSCAN_URL(this.$store.state.shared_table.contract.network, '/tx/'+hash);
      }).on('confirmation', (confirmationNumber) => {
        if (confirmationNumber > 1) {
          return true;
        }
        this.committing = false;
        this.newValue = null;
        this.waitingForConfirmation = false;
      }).on('error', (err) => {
        this.committing = false;
        this.waitingForConfirmation = false;
        alert("Unfortunately, your new version wasn't added to the blockchain. It must be a concurrency problem (someone has changed the smartcontract while you were sending it). Check your console logs to have more informations.");
        console.error(err);
      });
    }
  }
}
</script>
<style>
.sharedTable {
  width: 100%;
}
.sharedTable .wrapper {
  display: flex;
  flex-direction: row;
}
.sharedTable .wrapper > section {
  padding: 1em;
}
.sharedTable .wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

section h2 {
  text-align: center;
}

section.local {
  border-right: 1px solid black;
}
section.remote {
  border-left: 1px solid black;
}

button.commit {
  height: 2em;
  padding: 0.2em;
  margin: 0;
  width: 100px;
}

.inline {
  display: inline !important;
}

input[type="email"] {
  width: 200px;
}
</style>
