<template>
  <div class="main-wrapper">
    <aside>
      <li v-if="!ipfsNode">Ipfs Node <strong>NOT CONNECTED</strong></li>
      <li v-if="ipfsNode">Ipfs Node <strong>Connected - jsIPFS version: {{ipfsNodeVersion}}</strong></li>
      <li v-if="!web3 || !web3.isInjected">MetaMask is <strong>NOT CONNECTED</strong> - <a href="">REFRESH</a></li>
      <li v-if="web3 && web3.isInjected">MetaMask <strong>Connected</strong> to <strong>{{networkName}} ({{web3.networkId}})</strong></li>
      <li v-if="web3 && web3.isInjected">Ethereum Account n°<strong>{{web3.coinbase}}</strong></li>
      <hr/>
    </aside>
    <main>
      <nav>
        <ul>
            <li v-bind:class="{ active: ($nuxt.$route.path == '/') }"><nuxt-link to="/">IPFS Read/Write</nuxt-link></li>
            <li v-bind:class="{ active: ($nuxt.$route.path == '/ethereum-read-write') || ($nuxt.$route.path == '/ethereum-read-write/') }"><nuxt-link to="/ethereum-read-write">Ethereum Read/Write</nuxt-link></li>
            <li v-bind:class="{ active: ($nuxt.$route.path == '/shared-table') || ($nuxt.$route.path == '/shared-table/') }"><nuxt-link to="/shared-table">Shared table</nuxt-link></li>
        </ul>
      </nav>
      <nuxt v-if="ipfsNode" />
    </main>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { IPFS_MANAGER } from '~/services/ipfs';
import { NETWORKS } from '~/services/constants/ethereum_networks';

export default {
  data() {
    return {
      ipfsNode: null,
      ipfsNodeVersion: null,
    }
  },
  computed: {
    ...mapGetters({
      web3: 'web3/getInstance',
    }),
    networkName: state => NETWORKS[state.web3.networkId],
  },
  async beforeCreate() {
    await this.$store.dispatch('web3/registerWeb3');

    if (!this.ipfsNode) {
      this.ipfsNode = await IPFS_MANAGER.getNode();
    }

    let ipfsNodeVersion = (await this.ipfsNode.version());
    if (ipfsNodeVersion) {
      this.ipfsNodeVersion = (await this.ipfsNode.version()).version;
    }
  },
}
</script>
<style>
  body, .main-wrapper {
    /*max-width: 1200px;*/
    max-width: 100%;
    min-height: calc(100vh - 40px);
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-grow: 1;
  }

  nav {
    width: 200px;
    margin-right: 3em;
    border-right: 1px solid black;
  }

  nav ul {
    padding-left: 0;
  }

  nav li {
    list-style: none;
  }

  nav li:before {
      display: inline;
      content: "- ";
  }

  nav li.active {
    font-weight: bold;
  }

  nav li.active:before {
      content: "->";
  }
</style>
