<template>
  <section class="ethereum-ipfs" v-if="ethereumReadWriteNetwork">
  <div class="wrapper" v-if="$store.state.web3.networkId != ethereumReadWriteNetwork">
    <h2>Not connected where you should be !</h2>
    You are <span v-if="networkName">connected on the <strong>{{networkName}}</strong></span><span v-if="!networkName"><strong>NOT connected</strong></span> and you should be connected on the <strong>{{ethereumReadWriteNetworkName}}</strong>
  </div>
  <div class="wrapper" v-if="$store.state.web3.networkId == ethereumReadWriteNetwork">
    <EthereumReadWrite />
  </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
import { NETWORKS } from '~/services/constants/ethereum_networks';
import { ETHEREUM_READ_WRITE_NETWORK } from '~/services/constants/ethereum_read_write';
import EthereumReadWrite from '~/components/EthereumReadWrite';

export default {
  data() {
    return {
      ethereumReadWriteNetwork: null
    }
  },
  components: {
    EthereumReadWrite
  },
  computed: {
    ...mapGetters({
      web3: 'web3/getInstance',
    }),
    networkName: state => NETWORKS[state.web3.networkId],
    ethereumReadWriteNetworkName: state => NETWORKS[ETHEREUM_READ_WRITE_NETWORK],
  },
  mounted() {
    this.ethereumReadWriteNetwork = ETHEREUM_READ_WRITE_NETWORK;
  }
}
</script>
<style></style>
