<template>
  <section class="index">
    <IpfsReadWrite />
  </section>
</template>

<script>
import IpfsReadWrite from '~/components/IpfsReadWrite';
export default {
  components: {
    IpfsReadWrite
  }
}
</script>
<style></style>
