<template>
  <section class="shared-table" v-if="shareTableNetwork">
  <div class="wrapper" v-if="$store.state.web3.networkId != shareTableNetwork">
    <h2>Not connected where you should be !</h2>
    You are <span v-if="networkName">connected on the <strong>{{networkName}}</strong></span><span v-if="!networkName"><strong>NOT connected</strong></span> and you should be connected on the <strong>{{shareTableNetworkName}}</strong>
  </div>
  <div class="wrapper" v-if="$store.state.web3.networkId == shareTableNetwork">
    <SharedTable />
  </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
import { NETWORKS } from '~/services/constants/ethereum_networks';
import { SHARED_TABLE_NETWORK } from '~/services/constants/shared_table';
import SharedTable from '~/components/SharedTable';

export default {
  data() {
    return {
      shareTableNetwork: null
    }
  },
  components: {
    SharedTable
  },
  computed: {
    ...mapGetters({
      web3: 'web3/getInstance',
    }),
    networkName: state => NETWORKS[state.web3.networkId],
    shareTableNetworkName: state => NETWORKS[SHARED_TABLE_NETWORK],
  },
  mounted() {
    this.shareTableNetwork = SHARED_TABLE_NETWORK;
  }
}
</script>
<style>
  .wrapper, .shared-table {
    width: 100%;
  }
</style>
